* {
    box-sizing: border-box;
}

.image1{
  display: inline-block;
  width: 50%
  border: 3px;
  padding: 5%;
  margin: 0 auto;
}

.image2{
  display: inline-block;
  width: 50%
  border: 3px;
  padding: 5%;
  margin: 0 auto;

}
